/node_modules
/.vscode
/database
/files
/python
.env
sismob.code-workspace
/.VSCodeCounter
*.xlsx
*.txt
*.log
*.docx

ecosystem.config.js

/client/debug.log
oldVehicles.json
oldVehiclesDB.json
./*.html

server/testAPI.rest
mintty.exe.stackdump


*.code-workspace
