/node_modules
/.vscode
/database
/files
/python
.env
sismob.code-workspace
/.VSCodeCounter

ecosystem.config.js
client/debug.log
oldVehicles.txt
oldVehicles.json
equipAccessQuery.txt
oldVehiclesDB.json
Veículos baixados - 1_11_2020.xlsx
shit.json
users.xlsx
Veículos baixados - 2dez2020.xlsx
