.radio {
    display: inline-block;
    font-size: 0.7rem
}

.tabMenu {
    background-color: #e5eaf1
}

h2, h3, h4, h5, h6, p, span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight: 400;
}

h5 {
    font-size: 1.2em
}

h6 {
    font-size: 1.1em
}

div.loading {
    position: fixed;
    top: 45%;
    right: 15%;
    left: 15%;
    height: 50%;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
    z-index: 15
}

.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}