//**************************** CONFIG Selector ****************************
.parametrosTitle {
    font-weight: 500;
}
.configForm {
    margin-top: 22px;
}

.config__selector {
    text-align: center;
}

.config__textField {
    width: 275px;
}
