<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            position: relative;
            font-size: 1rem;
            font-family: 'Calibri';
            background-color: white;
            padding: 3%;
            border: 1px solid #000;
            text-align: justify;
            text-justify: inter-word;
            border: 1px solid #bbbbbb;
            border-radius: 1%;
        }
    </style>
</head>
<br />

<body>
    <h3 id='vocativo'>X,</h3>
    <p>
        O seguro de apólice X está prestes a vencer. Para atualizar ou cadastrar uma nova apólice, acesse
        <a href="http://www.cadti.mg.gov.br" class="href">www.cadti.mg.gov.br</a> na opção "Veículos" >> "Seguros".
    </p>
</body>
<footer>
    Att,
    <h4>
        DGTI - Seinfra-MG.
    </h4>
</footer>

</html>