.form {
    align-items: center;
}

.input {
    margin: 10px 0;
}

.tst {
    color: blue !important;
    font-size: 12pt !important;
    width: 400px !important;
    /* border: 1px solid blue !important;
    border-radius: 10px !important; */
}
