.A4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    background: white;
    width: 21cm;
    height: 29.7cm;    
    margin: 0 auto;
    margin-top: 3mm;
    padding: 2.5mm 6mm;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
    box-sizing: border-box;
    z-index: 2;
}

.box {
    border: 1px solid #333;
    border-radius: 3mm;
    position: relative;
    margin-bottom: 2.5mm
}

.firstBox {
    border: 1px solid #333;
    border-radius: 3mm;
    padding-top: 0;
    margin-bottom: 3mm;
}

.boxTitle {
    position: absolute;
    top: 1mm;
    left: 2mm;
    font-size: 4mm;
    font-weight: 500;
}

.divLine {
    display: flex;
    margin: 8mm 0 4.5mm 0;
    width: 100%;
    padding: 0 2mm 0 6mm;
}

.firstDivLine {
    margin: 3mm !important;
    top: 0
}

@media print {
    .page-break {
        display: block;
        page-break-before: always;
    }
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }
    nav, .MuiToolbar-root, .MuiTabs-flexContainer, .noPrint {
        display: none !important;
    }
    .A4 {
        box-shadow: none;
        margin: 1mm !important;
        padding: 0;
        width: 200mm;
        height: auto;
        display: block !important;
        overflow-x: hidden;
    }
    .divLine {
        display: flex;
        margin: 9mm 0 8mm 0;
        width: 100%;
        padding: 0 2mm 0 6mm;
    }
    .MuiToolbar-root, .MuiToolbar-regular, .MuiToolbar-gutters, .noprint {
        display: none;
    }
}

.certificate {
    border-radius: 0% !important;
    padding-top: 2mm !important;
    height: 15px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    vertical-align: middle;
    text-align: center !important;
}

.MuiInputBase-multiline.MuiInput-multiline, .MuiOutlinedInput-multiline {
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-align: justify !important;
}

.porteObrigatorio {
    margin-top: 10mm;
    text-align: center;
}